* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  padding: 30px;
  background-color: rgb(183, 99, 99);
  color: white;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-color: rgb(103, 107, 239);
  color: white;
}